.App {
  text-align: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDhoQtG7ACNaQsBvKL7AWqR-Xvji2iNiCzSA&usqp=CAU');
    background-size:     cover;                     
    background-repeat:   no-repeat;
    margin-top: 15px;
    margin-bottom: 10px;     
        
}
